<html>
<head>
	<title>Task Mate</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
#logo2 {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
</style>
<body id="main">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
		</div>
	</nav>
	<div class="form-group">
	<div class="col-md-4">
		<a href="yo">Yo</a>
		<form action="create">
			Event name: 
			<input class="form-control" name="eventname" type="text">
			<input type="hidden" name="eventname">
			<br>
			Event description: 
			<textarea class="form-control" name="eventdescription" type="text" rows="4"></textarea>
			<input type="hidden" name="eventdescription">
			<br><button type="submit" class="btn btn-default">Go</button>
		</form>

	</div>
	</div>
</body>
<script>
</script>
</html>