<html>
<head>
  <title>Task Mate</title>
  <!--<link href="/css/style.css" rel="stylesheet" type="text/cs">-->
  <link href="http://fonts.googleapis.com/css?family=Coming+Soon:regular" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
#logo2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
</style>
<body id="main">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
    </div>
  </nav>
  <div class="form-group">
  <div class="col-md-4">
    <form action="create">
      Task name: 
      <input class="form-control" name="yosername" type="text">
      <input type="hidden" name="yosername" value={{yosername}}>

      Delay (temporary):
      <input class="form-control" name="delay" type="text">
      <input type="hidden" name="delay" value={{delay}}>

      <br><button type="submit" class="btn btn-default">Go</button>
    </form>

  </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
</script>
</html>